*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    height: 40px;
}
main{
    display: grid;
    grid-template-columns: 25% 75%;
}
main .aside-bar{
    height: 650px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 72);
    color: white;
    height: 40px;
}